html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;

  box-sizing: border-box;

}

body {
  margin: 0;
  font-family: "Reddit Mono", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  --background-color: #fff;
  --verde-lumi: #01ff8b;
  --verde-lumi-1: #c8fbe4;
  --verde-lumi-2: #015C34;
  --verde-lumi-3: #02231C;
  --verde-lumi-hover: #009f58;
  flex: 1;
  display: flex;
  flex-direction: column;
}